.container {
  background-image: url(http://i.imgur.com/4YCQW1j.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  position: relative;
}
.main {
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
}
#name {
  width: 500px;
  position: fixed;
  top: 25%;
  left: 25%;
  margin-top: -50px;
  margin-left: -50px;
}
div.boxes {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding: 400px 20px 20px 20px;

}
.boxAbout, .boxPortfolio, .boxContact {
  height: 200px;
  background-color: rgba(247, 72, 7, .5);
  padding-top: 50px;
  border-top: 5px solid white;
}
h1 {
  color: white;
  opacity: 1;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  vertical-align: middle;
}
